@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.item {
		@apply h-[25px] w-[25px] cursor-pointer  sm:h-[40px] sm:w-[40px] md:h-[55px] md:w-[55px];
	}

	.color {
		@apply h-[25px] w-[25px] cursor-pointer rounded hover:border hover:border-2 hover:border-indigo-500;
	}

	.select_color {
		@apply border border-2 border-indigo-500;
	}
}

@layer base {
	@font-face {
		font-family: 'ProFont';
		font-weight: 400;
		src: url('src/fonts/Profontwindows-axBMx.woff2');
	}
}

@layer basae {
	body {
		font-family: 'Exo 2', sans-serif;
	}
}
